canvas{
    background-color: rgb(51, 49, 49);
}

#score{
    position: absolute;
    top: 0;
    color: white;
    font-size: 25px;
    left: 510px;
    font-family: calibri;
}

#combo{
    position: absolute;
    top: 0;
    color: white;
    font-size: 25px;
    left: 20px;
    font-family: calibri;
}