canvas{
    background-color: rgb(51, 49, 49);
}

#score{
    top: 0;
    color: white;
    font-size: 25px;
    left: 510px;
    font-family: calibri;
    padding-left: 10px;
}

#combo{
    top: 0;
    color: white;
    font-size: 25px;
    margin-left: auto;
    font-family: calibri;
    padding-right: 10px;
}

#info{
    position: absolute;
    top: 0;
    width: 600px;
    display: flex;
}